@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Learning.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h1>Contact</h1>

<form method="post">
    @if(ViewData["Message"] != null)
    {
        <div>@ViewData["Message"]</div>

    }

    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Name">Name</label>
    <input type="text" asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Email">email</label>
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Message">Message</label>
    <textarea cols="40" rows="4" asp-for="Message"></textarea>
    <span asp-validation-for="Message"></span>
    <div>
        <input type="submit" name="submet" value="Send Message" />
    </div>

</form>