$ cat .gitattributes
Learning/src/Learning/wwwroot/lib/* linguist-vendored
.net-coreLearning/Learning/src/Learning/wwwroot/lib/* linguist-vendored
.net-coreLearning/Learning/src/Learning/wwwroot/lib/* linguist-vendored=true

cat .gitattributes
Learning/src/Learning/wwwroot/lib/* linguist-vendored

# jquery Validate Unobtrusive
-jquery.validate.unobtrusive.js linguist-vendored=true

# jquery Validation
-release.js linguist-vendored=true
-additional-methods.js linguist-vendored=true
-jquery.validate.js linguist-vendored=true
-ajax.js linguist-vendored=true
-core.js linguist-vendored=true
-accept.js linguist-vendored=true
-additional.js linguist-vendored=true
-alphanumeric.js linguist-vendored=true
-bankaccountNL.js linguist-vendored=true
-bankorgiroaccountNL.js linguist-vendored=true
-bic.js linguist-vendored=true
-cifES.js linguist-vendored=true
-cpfBR.js linguist-vendored=true
-creditcard.js linguist-vendored=true
-creditcardtypes.js linguist-vendored=true
-currency.js linguist-vendored=true
-dateFA.js linguist-vendored=true
-dateITA.js linguist-vendored=true
-dateNL.js linguist-vendored=true
-extension.js linguist-vendored=true
-giroaccountNL.js linguist-vendored=true
-iban.js linguist-vendored=true
-integer.js linguist-vendored=true
-ipv4.js linguist-vendored=true
-ipv6.js linguist-vendored=true
-lettersonly.js linguist-vendored=true
-letterswithbasicpunc.js linguist-vendored=true
-mobileNL.js linguist-vendored=true
-mobileUK.js linguist-vendored=true
-nieES.js linguist-vendored=true
-nifES.js linguist-vendored=true
-notEqualTo.js linguist-vendored=true
-nowhitespace.js linguist-vendored=true
-pattern.js linguist-vendored=true
-phoneNL.js linguist-vendored=true
-phoneUK.js linguist-vendored=true
-phoneUS.js linguist-vendored=true
-phonesUK.js linguist-vendored=true
-postalCodeCA.js linguist-vendored=true
-postalcodeBR.js linguist-vendored=true
-postalcodeIT.js linguist-vendored=true
-postalcodeNL.js linguist-vendored=true
-postcodeUK.js linguist-vendored=true
-require_from_group.js linguist-vendored=true
-skip_or_fill_minimum.js linguist-vendored=true
-statesUS.js linguist-vendored=true
-strippedminlength.js linguist-vendored=true
-time.js linguist-vendored=true
-time12h.js linguist-vendored=true
-url2.js linguist-vendored=true
-vinUS.js linguist-vendored=true
-zipcodeUS.js linguist-vendored=true
-ziprange.js linguist-vendored=true
-messages_ar.js linguist-vendored=true
-messages_bg.js linguist-vendored=true
-messages_bn_BD.js linguist-vendored=true
-messages_ca.js linguist-vendored=true
-messages_cs.js linguist-vendored=true
-messages_da.js linguist-vendored=true
-messages_de.js linguist-vendored=true
-messages_el.js linguist-vendored=true
-messages_es.js linguist-vendored=true
-messages_es_AR.js linguist-vendored=true
-messages_es_PE.js linguist-vendored=true
-messages_et.js linguist-vendored=true
-messages_eu.js linguist-vendored=true
-messages_fa.js linguist-vendored=true
-messages_fi.js linguist-vendored=true
-messages_fr.js linguist-vendored=true
-messages_ge.js linguist-vendored=true
-messages_gl.js linguist-vendored=true
-messages_he.js linguist-vendored=true
-messages_hr.js linguist-vendored=true
-messages_hu.js linguist-vendored=true
-messages_hy_AM.js linguist-vendored=true
-messages_id.js linguist-vendored=true
-messages_is.js linguist-vendored=true
-messages_it.js linguist-vendored=true
-messages_ja.js linguist-vendored=true
-messages_ka.js linguist-vendored=true
-messages_kk.js linguist-vendored=true
-messages_ko.js linguist-vendored=true
-messages_lt.js linguist-vendored=true
-messages_lv.js linguist-vendored=true
-messages_mk.js linguist-vendored=true
-messages_my.js linguist-vendored=true
-messages_nl.js linguist-vendored=true
-messages_no.js linguist-vendored=true
-messages_pl.js linguist-vendored=true
-messages_pt_BR.js linguist-vendored=true
-messages_pt_PT.js linguist-vendored=true
-messages_ro.js linguist-vendored=true
-messages_ru.js linguist-vendored=true
-messages_si.js linguist-vendored=true
-messages_sk.js linguist-vendored=true
-messages_sl.js linguist-vendored=true
-messages_sr.js linguist-vendored=true
-messages_sr_lat.js linguist-vendored=true
-messages_sv.js linguist-vendored=true
-messages_th.js linguist-vendored=true
-messages_tj.js linguist-vendored=true
-messages_tr.js linguist-vendored=true
-messages_uk.js linguist-vendored=true
-messages_vi.js linguist-vendored=true
-messages_zh.js linguist-vendored=true
-messages_zh_TW.js linguist-vendored=true
-methods_de.js linguist-vendored=true
-methods_es_CL.js linguist-vendored=true
-methods_fi.js linguist-vendored=true
-methods_nl.js linguist-vendored=true
-methods_pt.js linguist-vendored=true


-underscore.js linguist-vendored=true
