@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<h1>You have reached the about page</h1>
<h2>here are some cool fonts from font awesome!</h2>
<h1>
    <i class="fa fa-automobile"></i>
    <i class="fa fa-truck"></i>
    <i class="fa fa-university"></i>
    <i class="fa fa-windows"></i>
    <i class="fa fa-sign-language"></i>
</h1>