@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Value Return";
}
<h1>I only return values that is why I am such a cool page</h1>